{% extends "base.html" %}
{% block content %}
    <!-- About the course -->
    <meta charset="utf-8">
      <div class="container" id="about">
      <div class="row">
        <div class="col-md-8 mb-5">
          <h2>Acerca de</h2>
          <hr>
          <p style="text-align: justify;">Curso de introducción al desarrollo con Arduino. Aprende las bases de Arduino, que es una plataforma electrónica de código abierto basada en hardware y software fácil de usar. Está destinado a cualquier persona que realice proyectos interactivos. Con los años, Arduino ha sido el cerebro de miles de proyectos, desde objetos cotidianos hasta instrumentos científicos complejos. Una comunidad mundial de creadores (estudiantes, aficionados, artistas, programadores y profesionales) se ha reunido en torno a esta plataforma de código abierto, sus contribuciones se han sumado a una increíble cantidad de conocimiento accesible que puede ser de gran ayuda para principiantes y expertos por igual. </p>
          <p>El curso tendrá los siguientes objetivos:
            <ul>
              <li>Conocer el funcionamiento la placa Arduino y de los componentes electrónicos.</li>
              <li>Introducir conceptos de programación básica.</li>
              <li>Desarrollar habilidades para crear tus propios proyectos.</li>
              <li>Generar material que pueda ser de uso posterior al curso y tengas la capacidad y posibilidad de desarrollar tus propios proyectos.</li>
            </ul>
          </p>
          <a href="{{ base_url }}/static/assets/Arduino primeros pasos.pdf" target="_blank"><button type="button" class="btn btn-primary">Requerimientos</button></a>
          <a href="https://forms.gle/Y9M4bfKTDfT6phG56" target="_blank"><button type="button" class="btn btn-primary">Asistencia</button></a>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Contacto</h2>
          <hr>
          <address>
            <strong>Campus II</strong>
            <br> INSTITUTO TECNOLÓGICO DE LEÓN
            <br>Juan Alonso de Torres No. 3542 
            <br>Col. San José de Piletas, C.P. 37330
            <br>León, Gto.
            <br>
          </address>
          <address>
            <abbr title="Facebook">Facebook:</abbr>
            <ul>
              <li><a href="https://www.facebook.com/profile.php?id=100001239615583 ">José Escamilla</a></li>
              <li><a href="https://www.facebook.com/munoz.p.pa ">Pablo Muñoz</a></li>
            </ul>
            <abbr title="Email">Email:</abbr>
            <ul>
              <li><a href="mailto:jose00escamilla@outlook.es ">jose00escamilla@outlook.es </a></li>
            </ul>
            <abbr title="GitHub">GitHub:</abbr>
            <ul>
              <li><a href="https://github.com/Jose-Escamilla">José Escamilla</a></li>
            </ul>
          </address>
        </div>
      </div>
    </div>
{% endblock %}
